{{#each this}}
<li id="{{id}}" class="film__item">
	<div class="poster__thumb">
		{{#if poster_path}}
		<img src=https://image.tmdb.org/t/p/w500{{poster_path}} alt="{{title}}" data-action='{{id}}' class="film__poster">
		{{/if}}
		{{#unless poster_path}}
		<img class="film__poster"
			src="https://files.fm/thumb_show.php?i=de26b8dxh"
			alt="foto film" 
			data-action='{{id}}'/>
		{{/unless}}
	</div>
	<div class="film__info">
		<h2 class="film__name">
			{{title}} 
		</h2>
		<div class='film__genres__year'>
		<p class="film__genres">
			{{genres}} 
		</p>
		<p class="film__year">
			&#160| {{release_date}}
		</p>
        <p class="movie-vote library-vote">{{this.vote_average}}</p>
		</div>
	</div>
</li>
{{/each}}
