{{#each this}}
<li id="{{id}}" class="film__item">
	<div class="poster__thumb">
		{{#if poster_path}}
		<img src=https://image.tmdb.org/t/p/w500{{poster_path}} alt="{{title}}" data-action='{{id}}' class="film__poster">
		{{/if}}
		{{#unless poster_path}}
		<img class="film__poster"
			src="https://lh3.googleusercontent.com/6csU-KYwE8ydtZReKrQAE693TsuZCzgrjluizTY7ooUYp_pxyHoGvNQ05p0bVTZS6c68e8K6lJnNJR5rZ1Dxyr7hdQxfsv9VW6GluN0XYA1HPm0hU4iWQZTv0RESKmp_FB41WvMQvCT7Xl0DKc_uxTdVbj8NRbgq5VJGWOwbKeQTNgHbaBxD4JviJM9YOPa0JDRrIcHtgXeDVE0dNr3TTGPjoB3sp4LJWF6k1blvdCi4oMXvAowm1VUbpgQGkyzoqVatuTXxVWLOrQnrdMYDd3BLBeYvR5KIxGv1Gm0FyRiUfxgSc3ysPOIxsoTiJaZ38ao4SCoph1J_YYjQRqYl4l97zfnBhaM0i7YGm6yw1Ki9QIurgwPOqmfKRB-3c82DtDaRrxwuYcdFnbwPLMBa3piBYRuSW-ZbfnCtOIy3NaT5_7l64WqssnDl94mAshoxG1qrvvg0G5zCZT89UX6E-Qg998Dpgkw2fMuQQU_s5B_IHzTgDvUoNnD4yPCCJG1iEWGSbpln9L1mhcXD4UoJ5_0JrXzKiVjGIMaBCmyXYA5s35sWrcJgxpWEE0NmBzU5FETZaHwgt3WjfhWLHmb3YF8Vdir2vlKWbaUykHINZn5WPRogvAKxeNOVtgOMyPyIRgJhEY3Mx_8E-WJF6s-yM1rHX3nEPWqmEz3g9TpEjAZnxnZwndYYZNK3_N8sTkWPsQEie45pNkihkIcgclpNHpE=w616-h880-no?authuser=0"
			alt="foto film" 
			data-action='{{id}}'/>
		{{/unless}}
	</div>
	<div class="film__info">
		<h2 class="film__name">
			{{title}} 
		</h2>
		<div class='film__genres__year'>
		<p class="film__genres">
			{{genres}} 
		</p>
		<p class="film__year">
			&#160| {{release_date}}
		</p>
        <p class="movie-vote library-vote">{{this.vote_average}}</p>
		</div>
	</div>
</li>
{{/each}}
