{{#each this}}
<li id="{{id}}" class="film__item">
	<div class="poster__thumb">
		<img src=https://image.tmdb.org/t/p/w500{{poster_path}} alt="{{title}}" data-action='{{id}}'
			class="film__poster">
	</div>
	<div class="film__info">
		<h2 class="film__name">
			{{title}}
		</h2>
		<div class='film__genres__year'>
		<p class="film__genres">
			{{genres}} | 
		</p>
		<p class="film__year">
			 {{release_date}}
		</p>
		</div>
		 
	</div>
</li>
{{/each}}