<article class="card-film">


    <div class="card-image">
        {{#if poster_path}}
        <img class="card-poster" 
        src="https://image.tmdb.org/t/p/w300/{{poster_path}}" 
        alt="{{original_title}}" />
        {{/if}}
        {{#unless poster_path}}
        <img class="card-poster"
            src="https://lh3.googleusercontent.com/6csU-KYwE8ydtZReKrQAE693TsuZCzgrjluizTY7ooUYp_pxyHoGvNQ05p0bVTZS6c68e8K6lJnNJR5rZ1Dxyr7hdQxfsv9VW6GluN0XYA1HPm0hU4iWQZTv0RESKmp_FB41WvMQvCT7Xl0DKc_uxTdVbj8NRbgq5VJGWOwbKeQTNgHbaBxD4JviJM9YOPa0JDRrIcHtgXeDVE0dNr3TTGPjoB3sp4LJWF6k1blvdCi4oMXvAowm1VUbpgQGkyzoqVatuTXxVWLOrQnrdMYDd3BLBeYvR5KIxGv1Gm0FyRiUfxgSc3ysPOIxsoTiJaZ38ao4SCoph1J_YYjQRqYl4l97zfnBhaM0i7YGm6yw1Ki9QIurgwPOqmfKRB-3c82DtDaRrxwuYcdFnbwPLMBa3piBYRuSW-ZbfnCtOIy3NaT5_7l64WqssnDl94mAshoxG1qrvvg0G5zCZT89UX6E-Qg998Dpgkw2fMuQQU_s5B_IHzTgDvUoNnD4yPCCJG1iEWGSbpln9L1mhcXD4UoJ5_0JrXzKiVjGIMaBCmyXYA5s35sWrcJgxpWEE0NmBzU5FETZaHwgt3WjfhWLHmb3YF8Vdir2vlKWbaUykHINZn5WPRogvAKxeNOVtgOMyPyIRgJhEY3Mx_8E-WJF6s-yM1rHX3nEPWqmEz3g9TpEjAZnxnZwndYYZNK3_N8sTkWPsQEie45pNkihkIcgclpNHpE=w616-h880-no?authuser=0"
            alt="{{original_title}}" />
        {{/unless}}
    </div>


    <div class="card-description block-right">
        <h2 class="card-description-title">{{original_title}}</h2>

        <table class="card-description-content">

            <tr class="card-line">
                <td class="card-description-cell">Vote / Votes</td>
                <td class="card-description-details"> 
                    <span class="movie-votes">{{this.vote_average}}</span> /
                    <span >{{this.vote_count}}</span>
                </td>
            </tr>

            <tr class="card-line">
                <td class="card-description-cell">Popularity</td>
                <td class="card-description-details">
                    {{this.popularity}}
                </td>
            </tr>

            <tr class="card-line">
                <td class="card-description-cell">Original title </td>
                <td class="card-description-details--title">{{this.original_title}}</td>
            </tr>


            <tr class="card-line">
                <td class="card-description-cell">Genre</td>
                <td class="card-description-details">{{genres}}</td>
            </tr>

        </table>

        <div class="movie-about">
            <p class="movie-about-title">About </p>
            <p class="movie-about-description">{{overview}}</p>
        </div>

        <div class="modal-btns" id="add-to-library">
            <button type="button" 
                class="add-to-watched"
                name="add-to-watched"
                id="add-to-watched"
                data-act='{{id}}'>add to watched</button>

            <button type="button" 
                class="add-to-queue"
                name="add-to-queue"
                id="add-to-queue" 
                data-act='{{id}}'>add to queue</button>

        </div>
        <button type="button" class="modal-button-close" id="btnclose"></button>

    </div>
</article>