<article class="card-film">

    
    <div class="card-image">
        {{#if poster_path}}
        <img class="card-poster" src="https://image.tmdb.org/t/p/w300/{{poster_path}}" onerror="this.onerror=null;this.src='https://payload.cargocollective.com/1/23/758880/13104445/NO-MOVIE-POSTERS-02-03-003_2000_c.jpg'" alt="{{original_title}}" />
        {{/if}}
        {{#unless poster_path}}
        <img class="card-poster" src="https://payload.cargocollective.com/1/23/758880/13104445/NO-MOVIE-POSTERS-02-03-003_2000_c.jpg" alt="foto film" />
        {{/unless}}
    </div>


    <div class="card-description block-right">
        <h2 class="card-description-title">{{original_title}}</h2>

        <table class="card-description-content">

            <tr class="card-line">
                <td class="card-description-cell">Vote / Votes</td>
                <td class="card-description-details"> <span class="movie-vote">{{this.vote_average}}</span> / 
                <span class="movie-votes">{{this.vote_count}}</span> </td>
            </tr>

            <tr class="card-line">
                <td class="card-description-cell">Popularity</td>
                <td class="card-description-details">
                    {{this.popularity}}
                </td>
            </tr>  

            <tr class="card-line">
                <td class="card-description-cell">Original title </td>
                <td class="card-description-details--title">{{this.original_title}}</td>
            </tr>


            <tr class="card-line">
                <td class="card-description-cell">Genre</td>
                <td class="card-description-details">{{genres}}</td>
            </tr>
                
        </table>

        <div class="movie-about">
            <p class="movie-about-title">About </p>
            <p class="movie-about-description">{{overview}}</p>
        </div>

        <div class="modal-btns" id="add-to-library">
            <button type="button" class="add-to-watched" id="add-to-watched" data-act='{{id}}'>add to watched</button>
            <button type="button" class="add-to-queue" id="add-to-queue" data-act='{{id}}'>add to queue</button>

         <button  type="button" class="watch-trailer" data-id='{{id}}'>watch the trailer</button> 

        </div>
        <button type="button" class="modal-button-close"></button>

    </div>
</article>